.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh; /* Hace que .parent ocupe toda la altura de la ventana */
}

.div1 {
  grid-area: 1 / 2 / 6 / 1;
}

.div1 button {
  font-size: x-large;
  font-weight: 400;
  width: 100%;
}

.div2 {
  grid-area: 1 / 2 / 6 / 6;
  height: 100%; 
  overflow: auto; 
}

.title {
  font-size: xx-large;
  margin-left: 100px;
}

img {
  position: absolute;
  top: 300px;
}
